h1 {
    font-family: "Tahoma";
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
    padding: 10px; 
    text-align: center;
}

.profile-pic {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%; 
}

.image-cropper {
    width: 270px;
    height: 270px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px
}

.hero-content {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cta-button {
    position: relative;
    display: flex; 

}

.text-in-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-class {
    display: flex;
    flex-direction: row;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    position: absolute;
}

body {
    background-color:bisque;
}